{% load static %}

<style>
    .input__container {
        position: relative;
        background: rgba(255, 255, 255, 0.664);
        padding: 10px 15px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 5px;
        border-radius: 22px;
        
        max-width: 100%;
        /* width: 100%; */
        transition: transform 400ms;
        transform-style: preserve-3d;
        /* transform: rotateX(15deg) rotateY(-20deg); */
        perspective: 500px;
        margin-top: 10px;
        /* border: 2px solid black; */
    }

    .shadow__input {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        filter: blur(30px);
        border-radius: 20px;
        background-color: #999cff;
        background-image: radial-gradient(at 85% 51%, hsla(60, 60%, 61%, 1) 0px, transparent 50%),
            radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0px, transparent 50%),
            radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0px, transparent 50%),
            radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0px, transparent 50%),
            radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0px, transparent 50%),
            radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0px, transparent 50%),
            radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0px, transparent 50%);
    }

    .input_button_shadow {
        cursor: pointer;
        border: none;
        background: none;
        transition: transform 400ms, background 400ms;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        padding: 5px;
    }

    .input_button_shadow:hover {
        background: rgba(255, 255, 255, 0.411);
    }

    .input__search {
        width: 100%;
        border-radius: 20px;
        outline: none;
        /* border: 2px solid black; */
        padding: 8px;
        position: relative;
    }

    .search-form{
        width: 100%;
    }

    /* Style for the product container */
    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* Style for individual product cards */
    .product {
        width: 40%;
        /* 50% width with 10px spacing between products */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Style for product image */
    .product-img {
        /* max-width: 70%; */
        width: 70%;
        height: auto;
        margin-right: 10px;
        /* Spacing between image and content */
    }

    /* Style for product title */
    .product-title {
        font-size: 18px;
        margin: 0;
    }

    /* Style for product specifications */
    .product-description ul {
        /* list-style-type: none; */
        padding: 0;
    }

    .product-description ul li {
        margin-bottom: 5px;
    }

    .section-title{
        text-align: center;
    }

    /* Style for price table */
    table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
    }

    table td {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
    }
</style>



<div class="input__container">
    <div class="shadow__input"></div>
    <button class="input_button_shadow">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" width="20px" style="margin-bottom: 12px;">
            <path
                d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z"
                fill-rule="evenodd" fill="#17202A"></path>
        </svg>
    </button>
    <form action="" method="post" class="search-form">
        {% csrf_token %}
        <input type="text" name="text" class="input__search" placeholder="What do you want to search?">
    </form>
</div>

<main id="main">
    <section class="section section-two">
        <h2 class="section-title">Products</h2>
        <div class="products-container">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.Image_URL_x }}" alt="product image" class="product-img">
                <div class="products-info-container">
                    <h3 class="product-title">{{ product.Flipkart_Title }}</h3>
                    <!-- <h3 class="product-title">{{ product.Amazon_Title }}</h3> -->
                    <div class="product-description">
                        <ul>
                            {% for spec in product.Specifications_x %}
                            <li>{{ spec }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <table>
                        <tr>
                            <td>Price on Flipkart:</td>
                            <td>{{ product.Price_x }}</td>
                        </tr>
                        <tr>
                            <td>Price on Amazon:</td>
                            <td>{{ product.Price_y }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %} <!-- Move this line outside of the <section> element -->
        </div>
    </section>
</main>


